[user]
    name = hadrori
    email = hadrori.hs@gmail.com
[core]
    editor = emacs
[color]
    ui = auto
    diff = always
    log = always
[push]
    default = matching
[pager]
    log = less -r
    show = less -r
    diff = less -r
